<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="../../css/release/styleList.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Baza Gier</title>
</head>
    <body>
      
        <header>
            <h1>Baza Gier CFA</h1>
            <img src="../../img/logo.png" alt="Baza Gier CFA Logo">
        </header>
        <nav>
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="/game">Gry</a></li>
                <li><a href="/platform">Platformy</a></li>
                <li><a href="" class="active">Wydania</a></li>
            </ul>
        </nav>
        <main>
            <h2>Lista Wydań</h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Gra</th>
                        <th>Platforma</th>
                        <th>Data Premiery</th>
                        <th>Cena</th>
                        <th>Wersja</th>
                        <th>Akcje</th> 
                    </tr>
                </thead>
                <tbody>
                    <% for (let release of releases) { %>
                        <tr>
                            <td><%= release.gra.name +' '+ release.gra.edition %></td>
                            <td><%= release.platforma.name %></td>
                            <td><%= release.releaseDate.toISOString().split('T')[0] %></td>
                            <td><%= release.price %></td>
                            <td><%= release.version %></td>
                            <td>
                                <ul class="list-actions">
                                    <li><a href="/release/details/<%=release.idWydania%>" class="list-actions-button-details">Szczegóły</a></li>
                                    <li><a href="/release/edit/<%=release.idWydania%>" class="list-actions-button-edit">Edytuj</a></li>
                                    <li><a href="/release/delete/<%=release.idWydania%>" class="list-actions-button-delete">Usuń</a></li>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
                </tbody>

            </table>
            <p><a href="release/add" class="button-add">Dodaj nowe wydanie</a></p>
            <p><br/></p>
        </main>
        <%- include('../../fragments/footer.ejs') %>