<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="../../css/platform/styleList.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Baza Gier</title>
</head>
    <body>
       
        <header>
            <h1>Baza Gier CFA</h1>
            <img src="../../img/logo.png" alt="Baza Gier CFA Logo">
        </header>
        <nav>
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="/game">Gry</a></li>
                <li><a href="" class="active">Platformy</a></li>
                <li><a href="/release">Wydania</a></li>
            </ul>
        </nav>
        <main>
            <h2>Lista platform</h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Producent</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                  
                        <% for (let platform of platforms) { %>
                            <tr>
                                <td><%= platform.nazwa %></td>
                                <td><%= platform.producent %></td>
                                <td>
                                    <ul class="list-actions">
                                        <li>
                                            <a href="/platform/details/<%=platform.idPlatformy%>" class="list-actions-button-details">Szczegóły</a>
                                        </li>
                                        <li>
                                            <a href="/platform/edit/<%=platform.idPlatformy%>" class="list-actions-button-edit">Edytuj</a>
                                        </li>
                                        <li>
                                            <a href="/platform/delete/<%=platform.idPlatformy%>" class="list-actions-button-delete">Usuń</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        <% } %>
                   
                    <!-- Tu wstaw dodatkowe wiersze -->
                </tbody>

            </table>
            <p><a href="platform/add" class="button-add">Dodaj nową platformę</a></p>
            <p><br/></p>
        </main>
        <%- include('../../fragments/footer.ejs') %>